@charset "UTF-8";
/* CSS Document */

body {
	width: 100%;
	font-family: 'Exo', sans-serif;
	background-color: grey;
	font-weight: 400;
}

header {
	background: #b9b9b9;
	font-family: 'Exo', sans-serif;
	text-transform: uppercase;
}

/* creates a pseudo-element that is the last child of the selected element - header */
/* add fixes header problem */
header::after {
	content: '';
	display: table;
	clear: both;
}

nav { 
	float: right;
	font-weight: 500;
}

/* makes cleaner nav bar, takes dots away from list */
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* horizontal not vertical listing */
nav li {
	display: inline-block;
	margin-left: 20px;
	padding-top: 10px;
	position: relative;
}

nav a {
	color: #444444;
	text-decoration: none;
	font-size: 20px;
}

/* in the link, before the text */
/* blocks to be used for hover over nav selection */
/* starts off at 0% then when hovered over is 100% */
nav a::before {
	content: '';
	display: block;
	height: 5px;
	width: 0%;
	top: 0;
	background-color: #444444;
	/* pos here is relative to nav li */
	position: absolute;
	transition: all ease-in-out 200ms;
}

nav a.hover {
	color: #444444;
}

/* creates bar above selection */
nav a:hover::before {
	width: 100%;
}

/* -------------------------------------------------- */

.logo {
	float: left;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.navP {
	float: left;
	margin: 0 auto;
	padding-top: 10px;
	font-size: 20px;
}

.column {
	padding: 0;
	float: left;
	width: 50%;
	background: #4a4a4a;
  }
  
  /* clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

  .colP {
	  font-size: 15pt;
  }

  .topRow {
	  width: 100%;
	  text-align: center;
  }

  .headerImage {
	  width: 100%;
	  height: 250px;
  }

  .btn {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  background-color: #e1b12c;
	  font-size: 20px;
	  color:white;
	  padding: 10px 30px;
	  cursor: pointer;
  }

  .close {
	font-size: 20px;
	color:white;
	padding: 10px 30px;
	cursor: pointer;
	background: #e1b12c;
	display: inline-block;
	border-radius: 4px;
  }

  #box {
	  width: 300px;
	  overflow: hidden;
	  background: #487eb0;
	  box-shadow: 0 0 20px black;
	  border-radius: 8px;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  z-index: 9999;
	  padding: 10px;
	  text-align: center;
	  display:none;
  }

  #box span {
	  color: #7f8fa6;
	  font-size: 40px;
	  margin: 20px 0;
  }

  #box h1{
	  color: #333;
	  font-size: 200px;
  }

  
